.DS_Store
datasets/raw/chelsa/*.tif
datasets/processed/chelsa/*.tif
datasets/processed/
datasets/raw/
.vscode
notebooks/clc.json
references/corine/clc.json
iasdt-pyenv/
iasdt-renv/
.doit.db
.Renviron
__pycache__
feedbackloop/__pycache__
workflows.egg-info/
.env
/datasets/interim/chelsa/
logs/diff/
logs/feedback/chelsa/
logs/process/
logs/workflows.log

iasdt-pyenv/
iasdt-renv/
.doit.db
.Renviron
__pycache__
feedbackloop/__pycache__
workflows.egg-info/
.env
/datasets/interim/chelsa/
logs/diff/
logs/feedback/chelsa/
logs/process/
logs/workflows.log


references/CrossWalk.txt
references/Species_List_ID.txt
references/TaxaList.RData
*.RData
*.RDS
2.env
